html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
form legend {
  display: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
ol,
ul {
  list-style: none;
}
.article {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 10px;
  position: relative;
  margin-bottom: 30px;
}
.data-article {
  background-color: #d9534f;
  border-color: #d43f3a;
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  top: -13px;
  left: -13px;
  color: #fff;
  padding-top: 3px;
}
.data-article span.month {
  margin: 0px;
}
.data-article span.day {
  font-size: 25px;
  font-weight: bold;
  margin-top: -7px;
}
.data-article span.month,
.data-article span.day {
  text-align: center;
  display: block;
}
.article-stick {
  position: absolute;
  top: -13px;
  right: 5%;
  font-size: 40px;
  color: #d9534f;
}
.alert-article {
  color: #666;
  background-color: #f6f6f6;
}
/*文章－标题*/
.title-article {
  padding: 20px 15px 0px 15px;
}
.title-article h1 {
  font-size: 32px;
  margin: 0 auto;
  text-align: center;
}
/*文章－标签*/
.label {
  margin-right: 5px;
}
.label-support {
  background-color: #3d4450;
}
.label-support:hover {
  background-color: #d9534f;
}
.tag-article {
  text-align: center;
  line-height: 24px;
  margin: 20px;
}
.tag-article a {
  color: #fff;
}
.tag-article a:hover {
  text-decoration: underline;
}
/*文章－内容*/
.content-article .thumbnail {
  margin-bottom: 20px;
  padding: 0px !important;
  border: 1px solid transparent !important;
}
.content-article .thumbnail img {
  border-radius: 4px;
}
/*文章图片*/
.content-article img {
  margin-right: auto;
  margin-left: auto;
  display: block;
}
.content-article img:hover {
  opacity: 0.8;
}
/*文章－更多*/
.btn-danger .badge {
  background-color: #FFF;
  color: #d9534f;
  padding: 2px 5px;
  margin-left: 3px;
}
.panel .badge {
  background: #d9534f;
}
.panel-heading {
  color: #ffffff;
  background: #3d4450;
}
.panel-toggle,
.panel-remove {
  float: right;
  margin: 0px 0px 0px 5px;
  cursor: pointer;
}
.panel-toggle:hover,
.panel-remove:hover {
  color: #d9534f;
}
.panel.toggled ul.list-group {
  overflow: hidden;
  max-height: 0px;
  width: 100%;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #d9534f;
}
.panel.archive > a .panel-heading {
  border-radius: 3px;
  background-color: #d9534f;
}
.panel.archive > a:hover .panel-heading {
  text-decoration: none !important;
  background-color: #3d4450;
}

